<section class="flex flex-wrap items-center sm:h-screen">
    <div class="w-full md:w-2/4 text-white flex flex-col items-center justify-center mt-12 sm:mt-0">
        <span class="lg:text-5xl md:text-4xl text-3xl mt-4">Decentralizing Harmony</span>
        <span class="lg:text-5xl md:text-4xl text-3xl mt-4">ONE step at a time.</span>
        <button class="text-lg border border-solid border-red-600 rounded-md p-4 mt-10">Join us!</button>
    </div>
    <div class="flex justify-center w-full md:w-2/4 overflow-hidden mt-12 sm:mt-0">
        <img src="../../../assets/RutilantxHarmony.png" alt="Rutilant Hub Logo and Harmony Blockchain Logo" class="transform rotate-6">
    </div>
</section>